<h1> <%= @course.name() %> </h1>

<p> Max Seat Limit: <%= @course.seat_limit() %> </p>
<p> OPEN Seat : <%= @course.open_seats %> </p>



<%= form_tag enroll_course_path(@course), method: "patch" do %>
    <%= label_tag :this_is_the_number, "Number" %>
    <%= number_field_tag :this_is_the_number %>
    <%= submit_tag "Type in a number" %>
<% end %>




<p> Classroom Number: <%= @course.classroom_number %> </p>
<p> Status: <%= @course.status() %> </p>

<p><%= link_to "Edit #{@course.name}", edit_course_path(@course) %></p>
<%= button_to "Delete Course", course_path(@course), method: "delete" %>

<h2> List of Students </h2>

<ol>
    <% @course.students.each do |student_inst| %>
        <li>
            <%= link_to student_inst.name, student_path(student_inst) %>
        </li>
    <% end %>
</ol>